---
import { PROJECTS } from "../consts"
import "../styles/projects.css"

const finalProjects = PROJECTS.filter((project) => !project.hidden).slice().reverse()
---

<div class="projects-grid ">
    {
    finalProjects.map((project, reversedIndex) => { 
    const index = finalProjects.length - reversedIndex - 1
    const num = `${index + 1}`.padStart(2, "0")

    return (
        <article class="project-card ">
            <a
                href={`/${project.slug}`}
                class="project-header "
            >
                <span class="">
                    #{num}
                </span>
                <img
                    class=""
                    src={`./projects/${project.image}.webp`}
                    alt={`Captura de pantalla del proyecto ${project.title}`}
                />
            </a>
            <div class="project-info">
                <h2>
                    <a
                    href={`/${project.slug}`}
                    class=""
                    >
                    {project.title}
                    </a>
                </h2>
                <p class="">
                    {project.description}
                </p>
                <ul class="project-badges">
                    {project.learnings.map((learning) => (
                    <li>
                        {learning}
                    </li>
                    ))}
                </ul>
                <ul class="project-buttons">

                    <li>
                        <a
                            href={`https://github.com/ztevenx100/js_projects-collection/tree/main/${project.slug}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <svg class="icon">
                                <use xlink:href="public/svg/social-network.svg#svgGit"/>
                            </svg>
                            Código
                        </a>
                    </li>
                    <li>
                        <a
                            href={`/${project.slug}`}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="project-web"
                        >
                            <svg class="icon">
                                <use xlink:href="public/svg/icons.svg#svgWeb"/>
                            </svg>
                            Demo
                        </a>
                    </li>
                    
                </ul>
            </div>
        </article>
      )
    })
    }

</div>